body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*,
body {
  font-family: "Montserrat-ExtraLight", "Noto Sans KR";
  font-weight: 100;
}

section,
footer {
  display: flex;
  height: 100vh;
  width: 100%;
}
.left-col,
.middle-col,
.right-col,
.full-col {
  height: 100vh;
  margin: 0;
}
.width-0 {
  width: 0;
}
.width-33 {
  width: 33.33%;
}
.width-66 {
  width: 66.66%;
}
.width-100 {
  width: 100%;
}
#landing-page .full-col {
  background-color: grey;
}
#rooms .left-col {
  background-color: red;
}
#rooms .right-col {
  background-color: pink;
}
#you .middle-col {
  background-color: green;
}
#you .left-col,
#you .right-col {
  background-color: palegreen;
}
#near .right-col {
  background-color: blue;
}
#near .left-col {
  background-color: lightblue;
}
footer {
  background-color: black;
  color: white;
}

.menu_nav {
  position: fixed;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  right: 40px;
  text-align: right;
}
.menu_nav div {
  position: relative;
  display: block;
  margin: 7px 0;
  transition: all 0.2s;
  right: 0;
  width: 7px;
  height: 7px;
  background-color: #fff;
  cursor: pointer;
}
.menu_nav div::before {
  content: "";
  position: absolute;
  transition: all 0.5s;
  z-index: 0;

  right: 0;
  width: 7px;
  height: 7px;
  background-color: #fff;
}
.menu_nav div:hover:before {
  width: 30px;
}
.menu_nav div.active {
  background-color: #000;
}

.menu_nav .active:before {
  background-color: #000;
  width: 25px;
}
